#dashboard {
    display: flex;
    justify-content: center;
    height: 100%;
    position: absolute;
    width: 100%;
    overflow: auto;
    resize: both;
    align-items: center;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

.primary {
    position: absolute;
    top: 100px;
    margin-bottom: 100px;
    width: 50%
}

@media screen and (max-width: 768px) {
    .primary {
        /* margin-top: 700px; */
        width: 90%;
    }

    .option:last-child {
        margin-top: 5px;
        margin-left: 0 !important;
    }
}

.spinner {
    color: white;
}

.assigned-questions {
    margin-bottom: 100px;
}

.question {
    box-shadow: 0 7px 20px rgba(0, 0, 0, .12);
    margin-bottom: 30px;
}

.question-header {
    font-size: 1.2rem;
    margin-bottom: 2px;
}

.question-author {
    margin-bottom: 15px;
    font-size: 0.8rem;
}

.options {
    float: right;
}

.option:not(:first-child) {
    margin-left: 50px;
}

.question .uk-card-footer {
    padding-left: 0;
    padding-bottom: 0;
}

.question {
    padding-bottom: 20px;
}

.uk-card-badge {
    top: 20px;
    border-radius: 20px;
    padding: 5px 10px;
}

.questions {
    list-style: none;
    padding-left: 0;
}

.question-filters {
    justify-content: center;
}

.modal-question {
    display: flex;
    align-items: center;
}

.submit-btn {
    margin: 0 auto;
    display: block;
}

.response {
    margin-bottom: 20px;
}

.question-text {
    font-weight: bold;
}

.confirm-differ {
    text-decoration: none;
    margin-right: 30px;
}